
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <div>

  <div class="add-qr">
    <span class="button" (click)="ngxSmartModalService.getModal('myModal').open()" >Придбати QR</span>
  </div>

    <br>

    <div class="balans"><label>Ваш баланс:</label>
      <span ><label >  {{currentUser.wallet}} </label></span>
      <span class="nominal">  грн.</span>
    </div>

  <ngx-smart-modal #myModal identifier="myModal"  >

      <div class="group">
        <h3>Придбати QR</h3>

          <div class="suma"><label>Ваш баланс:</label>
            <span class="fonds"><label class="amount"> {{currentUser.wallet}}</label></span>
            <span class="nominal"> грн.</span>
           </div>
      </div>
      <div class="group">
          <input class="input"  (change)="calculateAmount()"  [(ngModel)]="trips" type="number" [name]="trips" [(ngModel)]="addData.poizdka" max="20" min="1" required>
          <span class="bar"></span>
          <label class="labell">Кількість поїздок:</label>

        <p class="radio1" *ngFor="let tr of result"><span *ngFor="let t of tax "><input (change)="ReCalculate(t.value)"  type="radio" name="type-{{tr.id}}" value={{t.value}} checked >{{t.name}}</span></p>

       <div  class="suma"> <label>Сума до сплати:</label>
          <span [(ngModel)]="addData.tsina_qr" > <label class="amount">{{amount}}</label> грн</span>
       </div>
     </div>
        <br>

          <p><input class="button1" type="submit" value="Придбати QR" (click)="addQR()"  (click)="myModal.close()"   >
  </ngx-smart-modal >


   <!-- <div class="tab">
      <p class="balans" >Придбані QR</p>


        <ul class="title">
          <li>Назва</li>
          <li>Обмеження</li>
          <li>Статус</li>
          <li>Ціна QR</li>
          <li>Відкрити QR</li>
            <li>Дата покупки</li>
        </ul>
        <div>
        <ul class="rows" *ngFor="let item of userQR" >
          <li>QR</li>
          <li>{{item.poizdka}} поїздки</li>
          <li>Активний</li>
          <li>{{item.tsina_qr}} грн</li>
          <li>
             <a href="#zatemnenie" (click)="set_qr(item.qr_key)">Показати QR</a>
          </li>
            <li class="col-">{{item.data_add }}</li>
           </ul>
        </div>
    </div>-->
      <table class="table table-striped" [mfData]="userQR" #mf="mfDataTable" [mfRowsOnPage]="6" >
          <thead style="color: red">
          <tr>
              <th style="width: 15%">
                  <mfDefaultSorter by="name">Назва</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                  <mfDefaultSorter by="obmez">Обмеження</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                  <mfDefaultSorter by="status">Статус</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                  <mfDefaultSorter by="tsina_qr">Ціна QR</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                  <mfDefaultSorter by="open_QR">Відкрити QR</mfDefaultSorter>
              </th>
              <th style="width: 30%">
                  <mfDefaultSorter by="date">Дата покупки</mfDefaultSorter>
              </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data">
              <td>QR</td>
              <td>{{item.poizdka}} поїздки</td>
              <td>Активний</td>
              <td>{{item.tsina_qr}} грн</td>
              <td><a href="#zatemnenie" (click)="set_qr(item.qr_key)">Показати QR</a></td>
              <td>{{item.data_add }}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
              <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
          </tr>
          </tfoot>
      </table>

   <div class="loading" *ngIf="isQRLoading">
   <div class="cube-wrapper">
      <div class="cube-folding">
        <span class="leaf1"></span>
        <span class="leaf2"></span>
        <span class="leaf3"></span>
        <span class="leaf4"></span>
      </div>
       <span class="loading" data-name="Loading">Завантаження</span>
   </div>
   </div>

    <div>
       <a href="#" id="zatemnenie">
          <div id="okno">
             <qrcode [qrdata]= "qrdata"  [size]="210" [level]="'M'"></qrcode>
          </div>
       </a>
    </div>
