#zatemnenie {
    background: rgb(57, 57, 57);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    display: none;
}
#okno {
    width: 150px;
    max-width: 100%;
    height: 50px;
    max-height: 100%;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20%;
    left: 0;
    margin: auto;
    /*z-index: 999;*/
}
#zatemnenie:target {display: block;}




qrcode {
  /*  transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);*/
    display: block;
    position: center;
    /*max-height: 100%;
    max-width: 100%;*/
    bottom: 30%;
    left: 40%;

}
#main {
    display: none;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
}
.add-qr, .qr {
    width: 670px;
    height: 50px;
    overflow: hidden;
    position: relative;
    transition: .5s;
}

.add-qr .button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #c3c3ca;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    z-index: auto;
}

.add-qr .button:hover {
    background: #ff3041;
    transition: .5s;
}

.add-qr.active {
    height: 100px;
    border-bottom: 1px solid red;
    transition: .5s;
}
.add-qr.active .button {
    width: 7%;
    height: 50%;
    right: 10px;
    background: #ff3041;
    color: #ff3041;
    top: 15px;
}
.add-qr.active .button::after {
    content: 'X';
    color: white;
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 25px;
}
 ul.title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid red;
}
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 65vw;
}

ul li{
    /*position: relative;*/
    display: inline-block;
    width: 13vw;
    text-align: center;
}
 ul li:nth-child(1) {
    width: 8vw;
}
ul li:nth-child(2) {
    width: 10vw;
}
ul li:nth-child(3) {
    width: 10vw;
}
ul li:nth-child(4) {
    width: 10vw;
}
ul li:nth-child(5) {
     width: 10vw;
 }
ul li:nth-child(6) {
    width: 10vw;
}

.action:first-child {
    margin-right: 5px;
}
div.loading {
    position: relative;
    width: 65vw;
    height: 10em;
}

.cube-folding {
    width: 50px;
    height: 50px;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 0;
}
.cube-folding span {
    position: relative;
    width: 25px;
    height: 25px;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    display: inline-block;
}
.cube-folding span::before {
    content: '';
    /*background-color: white;*/
    background-color: #fa5b5b;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -moz-animation: folding 2.5s infinite linear both;
    -webkit-animation: folding 2.5s infinite linear both;
    animation: folding 2.5s infinite linear both;
}
.cube-folding .leaf2 {
    -moz-transform: rotateZ(90deg) scale(1.1);
    -ms-transform: rotateZ(90deg) scale(1.1);
    -webkit-transform: rotateZ(90deg) scale(1.1);
    transform: rotateZ(90deg) scale(1.1);
}
.cube-folding .leaf2::before {
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color: #ff8080;
    /*background-color: #f2f2f2;*/
}
.cube-folding .leaf3 {
    -moz-transform: rotateZ(270deg) scale(1.1);
    -ms-transform: rotateZ(270deg) scale(1.1);
    -webkit-transform: rotateZ(270deg) scale(1.1);
    transform: rotateZ(270deg) scale(1.1);
}
.cube-folding .leaf3::before {
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    background-color: #f6b3b3;
    /*background-color: #f2f2f2;*/
}
.cube-folding .leaf4 {
    -moz-transform: rotateZ(180deg) scale(1.1);
    -ms-transform: rotateZ(180deg) scale(1.1);
    -webkit-transform: rotateZ(180deg) scale(1.1);
    transform: rotateZ(180deg) scale(1.1);
}
.cube-folding .leaf4::before {
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    /*background-color: #e6e6e6;*/
    background-color: #f69c9c;
}
@-moz-keyframes folding {
    0%, 10% {
        -moz-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -moz-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -moz-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@-webkit-keyframes folding {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
@keyframes folding {
    0%, 10% {
        -moz-transform: perspective(140px) rotateX(-180deg);
        -ms-transform: perspective(140px) rotateX(-180deg);
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -moz-transform: perspective(140px) rotateX(0deg);
        -ms-transform: perspective(140px) rotateX(0deg);
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -moz-transform: perspective(140px) rotateY(180deg);
        -ms-transform: perspective(140px) rotateY(180deg);
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
.cube-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    text-align: center;
}
.cube-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: auto;
    width: 90px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
    -moz-animation: shadow 0.5s ease infinite alternate;
    -webkit-animation: shadow 0.5s ease infinite alternate;
    animation: shadow 0.5s ease infinite alternate;
}
.cube-wrapper .loading {
    font-size: 12px;
    letter-spacing: 0.1em;
    display: block;
    color: red;
    position: relative;
    top: 25px;
    z-index: 2;
    -moz-animation: text 0.5s ease infinite alternate;
    -webkit-animation: text 0.5s ease infinite alternate;
    animation: text 0.5s ease infinite alternate;
}

@-moz-keyframes text {
    100% {
        top: 35px;
    }
}
@-webkit-keyframes text {
    100% {
        top: 35px;
    }
}
@keyframes text {
    100% {
        top: 35px;
    }
}
@-moz-keyframes shadow {
    100% {
        bottom: -18px;
        width: 100px;
    }
}
@-webkit-keyframes shadow {
    100% {
        bottom: -18px;
        width: 100px;
    }
}
@keyframes shadow {
    100% {
        bottom: -18px;
        width: 100px;
    }
}
.index {
    position: relative;
    z-index: 999;
    
}
.group {
    position: relative;
    margin-bottom: 30px;
}

.input {
    font-size: 20px;
    padding: 10px;
    display: block;
    width: 320px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.input:focus {
    outline: none;
}
.labell {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.input:focus ~ label, .input:valid ~ label {
    top: -30px;
    color: #ae1513;
    font-size: 150%;
}


/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 320px;
}
.bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ae1513;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
    width: 50%;
}
input.button1 {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: .3em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #ae1513 linear-gradient(#d1342e, #ae1513);
    box-shadow: inset #d12825 0 -1px 1px, inset 0 1px 1px #ff3538, #aa0e07 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
input.button1:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
input.button1:active {
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
H3, .suma, .radio1 { text-shadow: 3px 3px 5px red }
.suma, .radio1 {
    font-size: 150%;
}
h3{
    font-size: 300%;
    text-align: center;
}
.amount {
    font-size: 200%;
}


