<div ng-controller="WorkersGridController" class="workers-grid-controller grid-page" >
    <div class="grid-wraper">

        <div class="grid-header">
            <div class="title">
                {{lang.words["Workers"]}}
            </div>
            <div id="control-line">
                <ul class="control-menu">
                    <li class="icon-li"> >> </li>
                    <li>
                        <md-input-container class="select-worker-export" style="width: 300px">
                            <label>{{lang.words['workers views']}}</label>
                            <md-select ng-model="workersTypes.selected"
                                       multiple aria-label="" md-on-close="applyFilter()" placeholder="{{lang.words['workers views']}}"
                                       data-md-container-class="select-worker-export">
                                <md-select-header class="select-worker-export-header" style="line-height: 49px;min-height: 49px">
                                    <input ng-model="selectFilter.searchWorkerView"
                                           type="search"
                                           placeholder="{{lang.words['workers views']}}"
                                           class="select-header-searchbox md-text"
                                           ng-keydown="$event.stopPropagation()" >
                                </md-select-header>
                                <md-optgroup label="Workers">
                                    <md-option ng-value="item.id" ng-repeat="item in workersTypes.list|filter:{name:selectFilter.searchWorkerView}">{{item.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </li>
                    <li>
                        <md-input-container class="select-worker-export" ng-if="workers.parks_id ==-1" style="width: 300px">
                            <label>{{lang.words['parks']}}</label>
                            <md-select ng-model="workersParks.selected"
                                       multiple aria-label="" md-on-close="applyFilter()" placeholder="{{lang.words['parks']}}"
                                       data-md-container-class="select-worker-export">
                                <md-select-header class="select-worker-export-header" style="line-height: 49px;min-height: 49px">
                                    <input ng-model="selectFilter.searchWorkerParks"
                                           type="search"
                                           placeholder="{{lang.words['parks']}}"
                                           class="select-header-searchbox md-text"
                                           ng-keydown="$event.stopPropagation()" >
                                </md-select-header>
                                <md-optgroup label="Parks">
                                    <md-option ng-value="item.id" ng-repeat="item in gridOptions.filters.Parks|filter:{name:selectFilter.searchWorkerParks}">{{item.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </li>
                    <li><select-countdown lang="lang" timer-callback="timerCallback()" style="z-index: 2;"></select-countdown></li>
                </ul>
            </div>
        </div>
        <div  id="workers-grid" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit ui-grid-pagination ui-grid-resize-columns class="grid"   ></div>
    </div>
</div>

