.login-form
{
  .dialog-main-login
  {
    width: 400px !important;
    max-width: 400px;
    input
    {
      width: 100%;
    }
    .container-user,
    .container-pass,
    .container-lang
    {
      width: 100%;
    }
  }
}
