.mainpage-footer{
  height: 25px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(16,108,200);
  color: rgba(255,255,255,0.9);
  line-height: 25px;
  a, a:hover{
    color:white;
    text-decoration: none  }
}