<!--<h1>Hi {{currentUser.firstName}}!</h1>-->
<!--<p>You're logged in with Angular 6!!</p>-->
<!--<h3>All registered users:</h3>-->
<!--<ul>-->
    <!--<li *ngFor="let user of users">-->
        <!--{{user.username}} ({{user.firstName}} {{user.lastName}})-->
        <!-- - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>-->
    <!--</li>-->
<!--</ul>-->
<!--<p><a [routerLink]="['/login']">Logout</a></p>-->
<div class="main-app">
    <ng-sidebar-container>

        <!-- A sidebar -->
        <ng-sidebar
                [(opened)]="_opened"
                    [mode]="'push'"
                    [dock]="true"
                    [dockedSize]="'50px'"
                    [closeOnClickOutside]="false"
                    [sidebarClass]="'side-menu'"
                    [ariaLabel]="'Main menu'">


            <div class="sidebar-header">
                <span>{{currentUser.username}}</span>
                <img src="../../assets/icons/user.png" alt="User">
            </div>
            <div class="menu-toggle">
                <div id="simply-burger" (click)="_toggleSidebar()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="main-menu">
                <ul>
                    <li *ngFor="let item of menuItems" class="item-{{item.name}} "
                        (click)="changeLocation(item)"
                        (mouseenter)="menuAnimEffect($event)"
                        (mouseleave)="menuAnimEffect($event)">
                        <span>{{item.displayName}}</span>
                        <img src="../../assets/icons/{{item.icon}}" alt="{{item.name}}">
                        <span class="back"></span>
                    </li>
                    <!--<li class="item-wallet><span>Рахунок</span><img src="../../assets/icons/wallet.png" alt=""></li>-->
                    <!--<li class="item-cards><span>Картки</span><img src="../../assets/icons/cards.png" alt=""></li>-->
                    <!--<li class="item-transactions><span>Транзакції</span><img src="../../assets/icons/transactions.png" alt=""></li>-->
                    <!--<li class="item-QR"><span>Придбати QR</span><img src="../../assets/icons/qr5.png" alt=""><span></span></li>-->
                    <!--<li class="item-koshik"><span>Кошик<img src="../../assets/icons/help.png" alt=""></span></li>-->
                    <!--<li class="item-help"><span>Допомога<img src="../../assets/icons/koshik.png" alt=""></span></li>-->
                    <li class="item-exit" align="bottom"
                        (mouseenter)="menuAnimEffect($event)"
                        (mouseleave)="menuAnimEffect($event)"
                        (click)="logout1()">
                        <span>Вихід</span>
                        <img src="../../assets/icons/exit.jpg" alt="">
                        <span class="back"></span>
                    </li>
                </ul>
            </div>
            <!--<div class="main-controls main-menu">-->
                <!--<ul>-->
                    <!---->
                <!--</ul>-->
            <!--</div>-->
        </ng-sidebar>

        <!-- Page content -->
        <div ng-sidebar-content>
            <header class="demo-header">
                <!--<button (click)="_toggleSidebar()" class="demo-header__toggle">Toggle sidebar</button>-->
                <span>Особистий кабінет</span>
                <img class="main-logo" src="../../assets/logo-white.png" alt="lutsk-id">
            </header>
            <h3 class="title">{{currentPage.displayName}}</h3>
            <div id="main-content">
                <section *ngIf="currentPage.name === 'wallet'">
                    <app-wallet></app-wallet>
                </section>
                <section *ngIf="currentPage.name === 'cards'">
                    <app-cards></app-cards>
                </section>
                <section *ngIf="currentPage.name === 'transactions'">
                    <app-transactions></app-transactions>
                </section>
                <section *ngIf="currentPage.name === 'QR'">
                    <app-qr></app-qr>
                </section>
                <section *ngIf="currentPage.name === 'help'">
                    <app-help></app-help>
                </section>
            </div>
            <!--<section *ngIf="currentPage.name === 'exit'" class="exit"></section>-->
        </div>
    </ng-sidebar-container>
</div>
